@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(../../../assets/fonts/Gilroy/Gilroy-Light.otf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url(../../../assets/fonts/Gilroy/Gilroy-ExtraBold.otf) format('truetype');
}

.header h4{
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    text-align: center;
    margin-top: 20px;
    letter-spacing: -0.1mm;
}

.header p{
    color: #161616;
    font-size: 13px;
    line-height: 15px;
    font-family: 'Gilroy-Light';
    font-weight: 300;
}

