@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(../../assets/fonts/Gilroy/Gilroy-Light.otf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url(../../assets/fonts/Gilroy/Gilroy-ExtraBold.otf) format('truetype');
}

.checkout-main{
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.checkout-main .main-content .table{
    padding: 15px;
    margin-top: 10px;
}

.checkout-main .main-content .table .table-name{
    display: flex;
    align-items: center;
}

.checkout-main .main-content .table h5{
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    font-size: 28px;
    align-items: center;
    display: flex;
}

.checkout-main .main-content .table button{
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    font-size: 38px;
    border: 3px solid var(--main-theme);
    border-radius: 15px;
}

.checkout-main h1{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    margin-top: 10px;
    margin-bottom: 0;
}

.checkout-main .hotel{
    margin-top: 5px;
    padding: 15px;
    padding-bottom: 0 !important;
}

.checkout-main .hotel .hotel-name h5{
    font-family: 'Gilroy-ExtraBold';
    font-size: 15px !important;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.checkout-main .hotel .hotel-address p{
    font-family: 'Gilroy-Light';
    font-weight: 300;
    font-size: 12px;
    line-height: 14Ftablepx;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 10px;
}

.checkout-main .main-content .goBack{
    width: 10%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.checkout-main .main-content .goBack:hover{
    color: var(--main-theme);
}

.checkout-main .main-content .option{
    width: 10%;
}
.checkout-main .main-content .header{
    width: 80%;
}

@media (max-width: 450px) {
    .checkout-main .main-content .row{
        padding: 10px;
        padding-top: 0;
    }
    .checkout-main .main-content .goBack{
        width: 10%;
    }
    .checkout-main .main-content .option{
        width: 10%;
    }
    .checkout-main .main-content .header{
        width: 80%;
    }
    .checkout-main .main-content .table{
        padding: 15px;
        margin-top: 10px;
    }
    .checkout-main .main-content .table .table-name{
        display: flex;
        align-items: center;
        width: 70%;
    }
    
    .checkout-main .main-content .table h5{
        font-weight: 800;
        font-family: 'Gilroy-ExtraBold';
        font-size: 25px;
        align-items: center;
        display: flex;
    }

    .checkout-main .main-content .table .table-number{
        width: 30%;
        align-items: flex-start;
        display: flex;
    }
    
    .checkout-main .main-content .table button{
        font-size: 35px;
    }

    .checkout-main .main-content .product-details .details{
        width: 70%;
    }
    .checkout-main .main-content .product-details .price{
        width: 30%;
    }
    
}

.checkout-main .main-content h5{
    padding: 10px;
    text-align: start;
    font-weight: 800 !important;
    font-family: 'Gilroy-ExtraBold';
    margin: 0;
}

.checkout-main .main-content .product-details{
    text-align: start;
    padding: 0 10px;
}

.checkout-main .main-content .product-details .empty{
    font-size: 25px;
    margin-top: 10px;
    text-shadow: 0px 3px 4px #555;
    letter-spacing: 0.3mm;
    word-spacing: 1mm;
    color: #fff;
}

.checkout-main .main-content .product-details h5{
    font-size: 20px;
}

.checkout-main .main-content .product-details .details h6{
    margin: 0;
    font-weight: 800 !important;
    font-family: 'Gilroy-ExtraBold';
}

.checkout-main .main-content .product-details .details p{
    color: #666;
    font-size: 14px;
    font-family: 'Gilroy-Light';
    font-weight: 300;
}

.checkout-main .main-content .product-details .price{
    text-align: end;
    font-weight: 800 !important;
}

.checkout-main svg{
    font-size: 20px;
}

.checkout-main .footer{
    display: block;
    height: auto;
    width: 100%;
    background-color: var(--main-theme);
    position: absolute !important;
    bottom: auto !important;
    cursor: pointer;
    padding: 10px 0 !important;
}

.checkout-main .footer p{
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    font-size: 20px;
}

.checkout-main .pop-left{
    height: auto;
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    z-index: 100;
    box-shadow: 0 0 100px #444;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    /* bring popup up */
    top: 10px;
    left: 0px;
    animation: pop-left 0.5s linear;
}

@keyframes pop-left {
	0% {left : -100px; right: 0px;}
}

.checkout-main .pop-left .pop-left-header h1{
    text-align: center;
    font-size: 23px;
    font-family: sans-serif;
}

.checkout-main .pop-left .content{
    font-weight: 600;
}

.checkout-main .pop-left .content p{
    margin: 0 !important;
}

.checkout-main .pop-left .content .button-controls .btnCancel{
    border: 3px solid var(--main-theme);
    border-radius: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px;
}

.checkout-main .pop-left .content .button-controls .btnCancel:focus, .checkout-main .pop-left .content .button-controls .btnPlaceOrder:focus{
    box-shadow: none;
}

.checkout-main .pop-left .content .button-controls .btnPlaceOrder{
    border: 3px solid var(--main-theme);
    background-color: var(--main-theme);
    border-radius: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px;
}

.checkout-main .main-content .underline{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 10px;
    background-color: #f3f3f3;
}

.checkout-main .main-content .addNotes{
    padding: 10px;
}

.checkout-main .main-content .addNotes textarea{
    border: 3px solid var(--main-theme);
    border-radius: 15px;
}