:root{
    --main-theme: #ffd504;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(../../assets/fonts/Gilroy/Gilroy-Light.otf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url(../../assets/fonts/Gilroy/Gilroy-ExtraBold.otf) format('truetype');
}

.main{
    width: 100% !important;
    position: relative;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.main-content .inner-content .categories{
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    margin-top: 15px;
}

.main-content .inner-content .categories button.active, .main-content .inner-content .categories button:hover{
    background-color: #ffd504;
}

.main-content .inner-content .categories button{
    margin: 5px;
    border: 3px solid var(--main-theme);
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    cursor: pointer;
}

.main-content .inner-content button:focus{
    box-shadow: none;
}

.main-content .inner-content .categories::-webkit-scrollbar, .sub-category::-webkit-scrollbar {
    display: none;
}

.main-content .inner-content .sub-category{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}

.main-content .inner-content .sub-category button{
    margin: 0 5px;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    cursor: pointer;
    text-transform: capitalize !important;
    margin-bottom: 10px;
} 

.main-content .inner-content .sub-category button:hover{
    border-bottom: 3px solid var(--main-theme);
}

.main-content .inner-content .menu .menu-item{
    border: 3px solid var(--main-theme);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    justify-content: space-between;
}

.main-content .inner-content .menu .menu-item:hover{
    background-color: var(--main-theme);
}

.main-content .inner-content .menu h1{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    text-align: start;
    margin: 0;
}

.main-content .inner-content .menu .menu-item .item-content{
    width: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 15px;
}

.main-content .inner-content .menu .menu-item .item-content p{
    font-size: 14px;
    text-align: start;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy-Light';
    font-weight: 300;
    line-height: 13px;
}

.main-content .inner-content .menu .menu-item .item-price{
    display: flex;
    align-items: center;
}

.main-content .inner-content .menu .menu-item .item-price p{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    margin: 0;
}

.main-content .inner-content .menu .menu-item .item-price svg{
    font-size: 35px;
    font-weight: 800;
}

.main .footer{
    display: block;
    height: 10vh;
    width: 100%;
    background-color: var(--main-theme);
    position: absolute;
    bottom: 0;
    cursor: pointer;
    padding-top: 10px;
}

.main .footer p{
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    margin: 0;
    font-size: 20px;
}

.pop-up{
    height: 80vh;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 100;
    box-shadow: 0 0 500px rgb(0, 0, 0);
    background-color: #fff;
    position: relative;
    top: -250px;
    /* bring popup up */
    animation: pop-up 1s linear;
}

@keyframes pop-up {
	0% {top: 300px;}
}

.pop-up .pop-up-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pop-up .pop-up-header h1{
    text-align: start;
    font-size: 25px !important;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold' !important;
}

.pop-up .pop-up-header::after{
    content: '';
    width: 95%;
    height: 4px;
    margin: 8px auto;
    background-color: #f3f3f3;
    display: block;
}

.close{
    font-weight: 600;
    text-align: end;
    position: relative;
    right: 10px;
}

.close:focus{
    box-shadow: none;
}

.pop-up h1{
    text-align: start;
    font-size: 20px !important;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold' !important;
}

.pop-up .extra .inner-content{
    text-align: start;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.pop-up .extra .inner-content span > svg{
    font-size: 20px;
    font-weight: 800 !important;
}

.pop-up .extra .inner-content .form-check-input{
    border: 2px solid var(--main-theme);
    font-size: 15px;
    display: flex;
    justify-content: end;
}

.pop-up .extra .inner-content .form-check-input:focus{
    box-shadow: none;
}

.pop-up .extra .inner-content .checkbox-list{
    display: flex;
    justify-content: end;
}

.pop-up .extra .inner-content .form-check-input:checked{
    background-color: var(--main-theme);
}

.pop-up .extra::after{
    content: '';
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background-color: #f3f3f3;
    display: block;
    margin-top: 15px;
}

.pop-up .button-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up .button-controls span{
    width: 16%;
    margin: 0 5px;
    border-radius: 10px;
    border: 3px solid #ffd504;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    padding: 2px 8px;
}

.pop-up .button-controls span:focus{
    box-shadow: none;
}

.pop-up .button-controls .btn{
    background-color: var(--main-theme);
    font-size: 25px;
    padding: 0px 20px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up .button-controls .btn:hover{
    background-color: #ffd70fc3;
}

.pop-up .button-controls .btn:focus{
    box-shadow: none;
}

.pop-up .addOrder{
    width: 85%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Gilroy-ExtraBold';
    background-color: var(--main-theme);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.pop-up .addOrder:hover{
    cursor: pointer;
    background-color: #ffd70fc3;
}
